.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #a8a0e259;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
}

.mainTitle {
  font-family: Helvetica, sans-serif;
  font-size: 5em;
}

.weapons {
  display: flex;
  gap: 20px;
}

.footer {
  font-family: Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

button {
  font-size: 3em;
  font-family: 'Rubik Pixels', cursive;
  background-color: #d45069;
  border: 4px solid #5f0b3d;

}

button:hover {
  background-color: #d45069;
  border: 4px solid #d45069;
}

.scores {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.hidden {
  display: none;
}